<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mamba Framework</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

</head>
<body>
<div class="flex-center position-ref full-height">
    <div class="content">
        <div class="title">
            Mamba Framework
        </div>
        <div class="text">
            Welcome to Mamba Framework!
        </div>
        <div class="buttons">
            <a href="#">
                Read Official Documentation
            </a>
        </div>
    </div>
</div>
</body>
</html>